<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <!-- 遍历过程中，没有使用索引值 -->
    <ul>
      <li v-for="item in name">{{item}}</li>
    </ul>

    <!-- 在遍历过程中，获取索引值 -->
    <ul>
      <li v-for="(item, index) in name">{{index+1}} {{item}}</li>
    </ul>
  </div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      name: ['1', '2', '3', '4', '5']
    }
  })
  
</script>

</body>
</html>